body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-color: rgb(84, 0, 23);
}

.body{
  padding-top: 140px;
}


.form-container {
  display: block;
  margin: auto auto auto auto;
  padding: 5vh;
  align-content: center;
  background-color: rgba(255, 255, 197, 0.532);
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
  justify-items: auto;
  width: 300px;

}

.form-container:hover {
  display: block;
  margin: auto auto auto auto;
  padding: 5vh;
  align-content: center;
  background-color: rgba(255, 255, 195, 0.706);
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
  justify-items: auto;
  width: 300px;
  box-shadow: 1px 1px 5px 1px #888888;

}

.form-container * {
  margin: 0.6vh;
  border-radius: 8px;
  border-width: 1px;
}

.form-container h1 {
  color: rgb(74, 0, 0);
}

.form-container .link {
  color: blue;
  background-color: transparent;
  border-color: transparent;
}

.form-container .link:hover {
  color: brown;
  background-color: transparent;
  border-color: transparent;
}

.form-container input{
  padding: 3px;
  margin: 6px;
  height: 30px;
  border-style: none;
}

.form-container input:hover {
  padding: 3px;
  margin: 6px;
  height: 30px;
  border-color: rgb(123, 100, 96);
  border-width: 2px;
  border-style: none;
  box-shadow: 0px 0px 5px 1px #888888;
}

.form-container button {
  color: white;
  height: 30px;
  background-color: rgb(95, 0, 0);
  
}

.form-container button:hover {
  color: white;
  height: 30px;
  background-color: rgb(202, 0, 0);
  box-shadow: 0px 0px 5px px #888888;
}

.button {
  color: white;
  background-color: rgb(95, 0, 0);
  margin: auto 10px auto 10px;
  height: 40px;
  border-radius: 3px;
}

.button:hover {
  color: white;
  background-color: rgb(202, 0, 0);
  margin: auto 10px auto 10px;
  height: 40px;
  box-shadow: 0px 0px 5px 1px #888888;
  border-radius: 3px;
}

label {
  align-items: flex-start;
}

body::-webkit-scrollbar {
  width: 10px;   
  height: 0px;            /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(255, 202, 202);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(159, 4, 4);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

select{
  height: 40px;
  
}

option{
  height: 40px;
  background-color: #e0dfdf;
}
option:hover{
  height: 40px;
  background-color: #7c7c7c;
}


.normal-message{
  background-color: rgba(182, 248, 182, 0.934);
  margin: 30px auto 30px auto;
  width: inherit;
  display: block;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
  background-image: linear-gradient(to right,rgba(182, 248, 182, 0.934), white);
  display: none;
}
.success{
  color: rgb(1, 168, 1);
  margin: 30px auto 30px auto;
  width: inherit;
  display: block;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
}

.fail{
  color: red;
  margin: 30px auto 30px auto;
  width: inherit;
  display: block;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
}


